@model IEnumerable<Someren.Models.Drink>

<select name="DrinkId" id="DrinkId" class="form-control" required onchange="updateMaxAmount()">
    <option value="" data-stock="0">-- Select a Drink --</option>
    
    @foreach (var drink in Model)
    {
        <option value="@drink.DrinkId"
                data-stock="@drink.Stock"
                selected="@(drink.DrinkId == ViewBag.SelectedId)"
                disabled="@(drink.Stock <= 0)">
            @drink.DrinkName (€@drink.Price.ToString("0.00")) - @drink.Stock in stock
        </option>
    }
</select>